---
---

<!doctype html>
{% include copyright.html %}
<html lang="{{ site.locale | replace: "_", "-" | default: "en" }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}" dir="{% if site.rtl %}rtl{% else %}ltr{% endif %}">
    {% include_cached skip-links.html %}
    {% include_cached masthead.html %}

    <div class="initial-content">
      {{ content }}
      {% include after-content.html %}
    </div>

    {% if site.search == true %}
      <div class="search-content">
        {% include_cached search/search_form.html %}
      </div>
    {% endif %}

    <div id="footer" class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include_cached footer.html %}

         <a href='http://www.freevisitorcounters.com'>free counters</a> <script type='text/javascript' src='https://www.freevisitorcounters.com/auth.php?id=66402066087668e96703a2b922d7eb610db76c45'></script>
<script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/1455696/t/5"></script>

      </footer>
    </div>

    {% include scripts.html %}

    
  </body>
</html>
